@page "/"
@using BlazorApp.Data
@inject InstrumentService ObjCustomService
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

<PageTitle>Front Page</PageTitle>

<div class="col-xs-1" align="center" margin= "10px">
  <div class="row align-items-start">
    <div class="col">
    </div>
    <div class="col">
       <img src="" />
       </div>
    <div class="col">
    </div>
  </div>
</div>

<div class="col-xs-1" align="center" margin: 25px 50px 75px 100px;>
    <h1>Welcome to Jam Junkies</h1>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <img src="Image\Instruments\Bass\Bass.JPEG" class="card-img-top" height="300px" width="30px" alt="...">
        </div>
        <div class="col">
            <img src="Image\Instruments\Piano\Piano.JPEG" class="card-img-top" height="300px" width="50px" alt="...">
        </div>
        <div class="col">
            <img src="Image\Instruments\Flute\Flute.JPEG" class="card-img-top" height="300px" width="30px" alt="...">
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <img src="Image\Instruments\Violin\Violin.JPEG" class="card-img-top" height="300px" width="30px" alt="...">
        </div>
        <div class="col">
            <img src="Image\Instruments\Drums\Drums.JPEG" class="card-img-top" height="300px" width="50px" alt="...">
        </div>
        <div class="col">
            <img src="Image\Instruments\Guitar\Guitar.JPEG" class="card-img-top" height="300px" width="30px" alt="...">
        </div>
    </div>
</div>

<h1>Your Listings</h1>
@if (objCtmr == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Image</th>
                <th>Product Name</th>
                <th>Type Of Instrument</th>
                <th>Condition</th>
                <th>Price</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var instrument in objCtmr)
            {
                <tr>
                    @switch (@instrument.TypeInstrument)
                    {
                        case "Bass":
                            <img src="Image\Instruments\Bass\Bass.JPEG" class="card-img-top" height="100px" width="50px" alt="...">
                            break;
                        case "Piano":
                            <img src="Image\Instruments\Piano\Piano.JPEG" class="card-img-top" height="100px" width="50px" alt="...">
                            break;
                        case "Flute":
                            <img src="Image\Instruments\Flute\Flute.JPEG" class="card-img-top" height="100px" width="50px" alt="...">   
                            break;
                        case "Violin":
                             <img src="Image\Instruments\Violin\Violin.JPEG" class="card-img-top" height="100px" width="50px" alt="...">
                              break;
                        case "Drums":
                              <img src="Image\Instruments\Drums\Drums.JPEG" class="card-img-top" height="100px" width="50px" alt="...">
                              break;
                        case "Guitar":
                              <img src="Image\Instruments\Guitar\Guitar.JPEG" class="card-img-top" height="100px" width="50px" alt="...">
                               break;
                        default:
                            <img src="">
                            break;
                    }


                    <td>@instrument.Name</td>
                    <td>@instrument.TypeInstrument</td>
                    <td>@instrument.Condition</td>
                    <td>@instrument.Price</td>
                    <td>@instrument.Description</td>
                    <td>
                        <a class="nav-link" href="product/@instrument.ID" style="background-color: lightgray; padding: 5px 10px; border-radius: 5px; text-decoration: none; color: black;">
                            <span class="oi oi-pencil" aria-hidden="true"></span> Go To
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    List<InstrumentInfo> objCtmr;
    protected override async Task OnInitializedAsync()
    {
        InstrumentService objCS = new InstrumentService(Configuration);
        objCtmr = await Task.Run(() => objCS.GetInstruments());
    }
}

